<button (click)="toggleMenu()">In-Out</button>
  <ul>
    <li *ngFor="let time of Dates">{{time}}</li>
  </ul>


<div class="container">
  <div class="row" style="margin-left:1em">
    <div class="col-sm-6">
      <label for="fName" style="font-size:small">First Name</label>
      <input type="text" maxlength="80" id="fName" class="form-control" />
    </div>
    <div class="col-sm-6">
      <label for="lName" style="font-size:small">Last Name</label>
      <input type="text" maxlength="80" id="lName" class="form-control" />
    </div>
  </div>
</div>
   

